@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TestWeb.Models.Sach

@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Sửa thông tin sản phẩm</h3>

<hr />
<div class="row">

        <form method="post" asp-action="SuaSanPham">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSach" />
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhBia" class="control-label"></label>
                <input asp-for="AnhBia" class="form-control" />
                <span asp-validation-for="AnhBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayCapNhat" class="control-label"></label>
                <input asp-for="NgayCapNhat" class="form-control" />
                <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SoLuongTon" class="control-label"></label>
                <input asp-for="SoLuongTon" class="form-control" />
                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNxb" class="control-label"></label>
                <select asp-for="MaNxb" class="form-control" asp-items="ViewBag.MaNxb"></select>
                <span asp-validation-for="MaNxb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaChuDe" class="control-label"></label>
                <select asp-for="MaChuDe" class="form-control" asp-items="ViewBag.MaChuDe"></select>
                <span asp-validation-for="MaChuDe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

